@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border:  1px solid blue;
} */

body {
    background-color: black;

}

.grad-back {
    background: -webkit-linear-gradient(180deg, #C40D60, #2203FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
